.cache
.claude
.idea
.omc
.playwright-mcp
.storybook
.venv
.vscode
.wolf
*.conf
*.db
*.Dockerfile
*.gz
*.image
*.json
*.log
*.sh
*.yaml
asset-stats.html
Dockerfile
evcc
evcc.exe
builddir
dist
node_modules
playwright-report
release
test-results
!entrypoint.sh
!evcc.dist.yaml
!package*.json
