.cache
.claude
.omc
.playwright-mcp
.storybook
.venv
.vscode
.wolf
playwright-report
*.db
*.conf
*.Dockerfile
*.gz
*.image
*.json
*.sh
*.yaml
Dockerfile
evcc
evcc.exe
builddir
node_modules
release
!entrypoint.sh
!evcc.dist.yaml
!package*.json
!tsconfig.json
