__debug_bin*
.vscode
.cache
.DS_store
*.gz
*.py
*.log
*.json
*.yaml
!templates/**/*.yaml
!templates/**/*-schema.json
!util/templates/**/*.yaml
!package*.json
!evcc.dist.yaml
!tests/**/*.evcc.yaml
!tsconfig.json
/templates/docs
evcc
evcc.exe
evcc_*
linux-*.Dockerfile
builddir
dist
flags
node_modules
release
*.inc
soc-server
ca-cert.srl
server-key.pem
ca-key.pem
cmd/wip
fly.toml
.idea
vendor/*
QEMU_EFI.fd
asset-stats.html
/test-results/
/playwright-report/
/playwright/.cache/