__debug_bin
.vscode
.cache
.DS_store
*.gz
*.py
*.log
*.json
*.yaml
!templates/**/*.yaml
!templates/**/*-schema.json
!util/templates/**/*.yaml
!package*.json
!evcc.dist.yaml
evcc
evcc.exe
evcc_*
linux-*.Dockerfile
builddir
flags
node_modules
release
*.inc
soc-server
ca-cert.srl
server-key.pem
ca-key.pem
cmd/wip
fly.toml
.idea
vendor/*
