site:
  title: Home EV Charging
  meters:
    grid: ecoflow_stream_grid
    pv: ecoflow_powerstream_pv
    battery: ecoflow_stream_battery

meters:
  - name: ecoflow_powerstream_pv
    type: ecoflow-powerstream
    uri: https://api-e.ecoflow.com
    sn: "YOUR_POWERSTREAM_SERIAL_NUMBER"
    accessKey: "YOUR_ACCESS_KEY"
    secretKey: "YOUR_SECRET_KEY"
    usage: pv

  - name: ecoflow_stream_grid
    type: ecoflow-stream
    uri: https://api-e.ecoflow.com
    sn: "YOUR_DEVICE_SERIAL_NUMBER"
    accessKey: "YOUR_ACCESS_KEY"
    secretKey: "YOUR_SECRET_KEY"
    usage: grid

  - name: ecoflow_stream_battery
    type: ecoflow-stream
    uri: https://api-e.ecoflow.com
    sn: "YOUR_DEVICE_SERIAL_NUMBER"
    accessKey: "YOUR_ACCESS_KEY"
    secretKey: "YOUR_SECRET_KEY"
    usage: battery
