site:
  title: Home EV Charging
  meters:
    grid: ecoflow_stream_grid
    pv: ecoflow_stream_pv
    battery: ecoflow_stream_battery

chargers:
  - name: ecoflow_stream
    type: ecoflow-stream
    uri: https://api-e.ecoflow.com
    sn: "YOUR_DEVICE_SERIAL_NUMBER"
    accessKey: "YOUR_ACCESS_KEY"
    secretKey: "YOUR_SECRET_KEY"
    usage: charger

meters:
  - name: ecoflow_stream_pv
    type: ecoflow-stream
    uri: https://api-e.ecoflow.com
    sn: "YOUR_DEVICE_SERIAL_NUMBER"
    accessKey: "YOUR_ACCESS_KEY"
    secretKey: "YOUR_SECRET_KEY"
    usage: pv

  - name: ecoflow_stream_grid
    type: ecoflow-stream
    uri: https://api-e.ecoflow.com
    sn: "YOUR_DEVICE_SERIAL_NUMBER"
    accessKey: "YOUR_ACCESS_KEY"
    secretKey: "YOUR_SECRET_KEY"
    usage: grid

  - name: ecoflow_stream_battery
    type: ecoflow-stream
    uri: https://api-e.ecoflow.com
    sn: "YOUR_DEVICE_SERIAL_NUMBER"
    accessKey: "YOUR_ACCESS_KEY"
    secretKey: "YOUR_SECRET_KEY"
    usage: battery

loadpoints:
  - name: Main Charger
    charger: ecoflow_stream
    meter: ecoflow_stream_grid
