:root {
	--evcc-green: #66d85a;
	--evcc-dark-green: #3aba2c;
	--evcc-yellow: #ffe000;

	--evcc-grid: var(--bs-gray-dark);
	--evcc-self: var(--evcc-dark-green);
	--evcc-export: var(--evcc-yellow);

	--bs-primary: var(--evcc-dark-green);
	--bs-primary-rgb: 58, 186, 44;
}

.bg-primary {
	background-color: var(--evcc-dark-green) !important;
}

a {
	color: var(--evcc-dark-green);
}

/* reverse loading animation */
.progress-bar-animated {
	animation-direction: reverse;
}
.bg-muted {
	opacity: 0.25;
}

.btn-primary {
	background-color: var(--bs-gray-dark);
	border-color: var(--bs-gray-dark);
}
.btn-primary:hover {
	background-color: var(--evcc-dark-green);
	border-color: var(--evcc-dark-green);
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.25;
	}
}
