:root {
	--evcc-green: #66d85a;
	--evcc-dark-green: #3aba2c;
	--evcc-yellow: #ffe000;

	--evcc-grid: var(--bs-gray-dark);
	--evcc-self: var(--evcc-dark-green);
	--evcc-export: var(--evcc-yellow);

	--bs-primary: var(--evcc-dark-green);
	--bs-primary-rgb: 58, 186, 44;
}

.bg-primary {
	background-color: var(--evcc-dark-green) !important;
}

a {
	color: var(--evcc-dark-green);
}

/* reverse loading animation */
.progress-bar-animated {
	animation-direction: reverse;
}
.bg-muted {
	opacity: 0.25;
}

.btn-primary,
.btn-primary:focus {
	background-color: var(--bs-gray-dark);
	border-color: var(--bs-gray-dark);
}
.btn-primary:hover,
.btn-primary:active {
	background-color: var(--evcc-dark-green);
	border-color: var(--evcc-dark-green);
}
.btn-outline-primary {
	color: var(--bs-gray-dark);
	border-color: var(--bs-gray-dark);
}
.btn-outline-primary:hover {
	background-color: var(--evcc-dark-green);
	border-color: var(--evcc-dark-green);
}
.text-evcc {
	color: var(--evcc-dark-green);
}

.text-grid {
	color: var(--evcc-grid);
}

@media screen and (min-width: 400px) and (max-width: 574px) {
	.d-xs-none {
		display: none !important;
	}
	.d-xs-inline {
		display: inline !important;
	}
}

.cursor-pointer {
	cursor: pointer;
}
