@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

/* Bootstrap Breakpoints as Custom Media Queries */
@custom-media --sm-and-up (min-width: 576px);
@custom-media --md-and-up (min-width: 768px);
@custom-media --lg-and-up (min-width: 992px);
@custom-media --xl-and-up (min-width: 1200px);
@custom-media --xxl-and-up (min-width: 1400px);

@custom-media --light-mode (prefers-color-scheme: light);
@custom-media --dark-mode (prefers-color-scheme: dark);

:root {
	--evcc-green: #baffcb;
	--evcc-dark-green: #0fde41;
	--evcc-yellow: #faf000;
	--bs-gray-dark: #28293e;
	--bs-gray-medium: #93949e;
	--bs-gray-light: #b5b6c3;

	--evcc-grid: var(--bs-gray-dark);
	--evcc-self: var(--evcc-dark-green);
	--evcc-export: var(--evcc-yellow);
	--evcc-background: var(--bs-white);
	--evcc-default-text: var(--bs-gray-dark);
	--evcc-gray: var(--bs-gray-medium);

	--evcc-transition-slow: 1000ms;
	--evcc-transition-medium: 500ms;
	--evcc-transition-fast: 250ms;
	--evcc-transition-very-fast: 100ms;

	--bs-primary: var(--evcc-dark-green);
	--bs-primary-rgb: 58, 186, 44;

	--bs-body-font-size: 14px;
	--bs-font-sans-serif: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

@media (--dark-mode) {
	:root {
		--evcc-grid: var(--bs-gray-medium);
		--evcc-background: var(--bs-gray-dark);
		--evcc-default-text: var(--bs-white);
		--evcc-gray: var(--bs-gray-light);

	}
}

html {
	/* prevents content jump when scrollbar is activate */
	width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: var(--evcc-background);
	color: var(--evcc-default-text);
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h1,
h2 {
	font-size: 1.25rem;
	text-transform: uppercase;
}

h3,
h4 {
	font-size: 1.25rem;
}

.bg-primary {
	background-color: var(--evcc-dark-green) !important;
}

a {
	color: var(--evcc-dark-green);
}

/* reverse loading animation */
.progress-bar-animated {
	animation-direction: reverse;
}
.bg-muted {
	opacity: 0.25;
}

.rounded {
	border-radius: 10px !important;
}

.btn-primary,
.btn-primary:focus {
	background-color: var(--bs-gray-dark);
	border-color: var(--bs-gray-dark);
}

.btn-primary:hover,
.btn-primary:active {
	background-color: var(--evcc-dark-green);
	border-color: var(--evcc-dark-green);
}
.btn-outline-primary,
.btn-outline-primary:focus {
	color: var(--bs-gray-dark);
	background-color: transparent;
	border-width: 2px;
	border-color: var(--bs-gray-dark);
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
	color: var(--evcc-dark-green);
	background-color: transparent;
	border-width: 2px;
	border-color: var(--evcc-dark-green);
}
.text-evcc {
	color: var(--evcc-dark-green);
}

.evcc-default-text {
	color: var(--evcc-default-text);
}

.evcc-gray {
	color: var(--evcc-gray);
}

.text-grid {
	color: var(--evcc-grid);
}
.text-dark {
	color: var(--bs-gray-dark);
}
.text-gray {
	color: var(--bs-gray-medium);
}
.text-gray-medium {
	color: var(--bs-gray-medium);
}
.text-gray-light {
	color: var(--bs-gray-light);
}
.bg-dark {
	background-color: var(--bs-gray-dark) !important;
}

@media screen and (min-width: 400px) and (max-width: 574px) {
	.d-xs-none {
		display: none !important;
	}
	.d-xs-inline {
		display: inline !important;
	}
}

.modal-backdrop.show {
	opacity: 0.8;
}

.modal-header {
	padding-bottom: 1.5rem;
}

.modal-title {
	font-weight: bold;
	font-size: 22px;
}

.modal-content {
	border-radius: 1rem;
	padding: 1rem;
}

.modal-body {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.modal-footer {
	padding-top: 1.5rem;
}

.cursor-pointer {
	cursor: pointer;
}

.v-popper__inner {
	margin: 0 12px !important;
}

.small,
small {
	font-size: var(--bs-body-font-size);
	color: var(--bs-gray-medium) !important;
}

.btn-close {
	opacity: 1;
}
