name: Build Custom

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  docker:
    name: Build and Push Docker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKER_USER }}/evcc:latest
            ${{ secrets.DOCKER_USER }}/evcc:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
