name: Rebase

on:
  issue_comment:
    types: [created]

jobs:
  rebase:
    name: Rebase
    runs-on: ubuntu-latest
    if: |
      github.event.issue.pull_request != ''
      && contains(github.event.comment.body, '/rebase')
      && (github.event.comment.author_association == 'MEMBER' || github.event.comment.author_association == 'OWNER')
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Automatic Rebase
        uses: cirrus-actions/rebase@1.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
